@import 'fonts';

body {
  font-family: 'Open Sans Regular', sans-serif;
  padding: 0;
  margin: 0;
  font-size: calc(14px + .03vw);
}

main {
  padding: 0 2em;
}

.some-shitty-class {
  background-color: black;
}
